@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sugarcane-green: #4ade80;
  --palm-shadow: #065f46;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sugarcane-green: var(--sugarcane-green);
  --color-palm-shadow: var(--palm-shadow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-handwritten: var(--font-caveat);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

.handwritten {
  font-family: var(--font-caveat), cursive;
  font-weight: 600;
}
